.backGroundBlack {
  background-color: black !important;
}
.mainPadding {
  padding-block: 20px !important;
  padding-inline: 10px !important;
}
.logoutBtn {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.logoutBtn:hover {
  color: red !important;
}