.carMakeContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 0;
}
.carMake {
    width: calc(100% / 8);
    margin: 0 !important;
    cursor: pointer;
}
.activeTab {
    border: 1px solid #fff !important;
}