.heroSection {
  height: 70vh !important;
  min-height: 70vh !important;
}
.title {
  font-size: 4rem;
  font-weight: bold;
  color: #ffffff;
}
.description {
  max-width: 700px;
  font-size: 1.1rem;
  color: #ffffff;
}
.buttonLight:hover {
  color: #6e499f !important;
}
.transparentBtn {
  text-decoration: underline;
  color: #ffffff;
}
.transparentBtn:hover {
  color: #6e499f;
}
.brandsBannerSection {
  padding: 60px 0;
  background-color: #f9fbfc;
}
.brandsBannerHead {
  margin-bottom: 40px;
}
.brandsBannerHead h3 {
  font-weight: bold;
  margin-top: -15px;
  margin-bottom: 30px;
}
.brandBlock h4 {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.brandBlock h4:hover {
  color: #6e499f !important;
  text-decoration: underline;
}
.brandBlock p {
  margin-top: -10px;
}
.navLink {
  color: #6e499f !important;
}
.sliderSlide {
  height: 300px !important;
  max-height: 300px !important;
}
.sliderBadge {
  width: fit-content !important;
  background-color: #6e499f !important;
}
.bgBlack {
  background-color: #000 !important;
  color: #fff;
}
.specialSectionContainer {
  background-image: url("../../../public/images/brands/bgSection.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0;
  height: 60vh;
  position: relative;
  display: flex;
  align-items: center;
}
.specialSectionContainer::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000, transparent);
}
.specialSectionContainer h3,
.specialSectionContainer p,
.specialSectionContainer button {
  position: relative;
  z-index: 1;
}
.specialSectionContainer h3,
.specialSectionContainer p {
  color: #fff;
}
.chooseUsSection p {
  font-size: 13px;
}
.chooseUsSection img {
  height: 100%;
  object-fit: fill !important;
}
.chooseUsSection div {
  background-color: #fff !important ;
}
.modelsContainer {
  background-color: #f7f7f7;
  padding: 60px 0;
}
.modelContainer {
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 8px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modelContainer:hover {
  box-shadow: 0 6px 15px #404f680d;
}
.modelContainer h4 {
  transition: all 0.5s ease-in-out;
  margin: 0 !important;
  font-size: 25px;
  font-weight: bold;
}
.modelContainer:hover h4 {
  color: #6e499f !important;
  text-decoration: underline;
}
.checkIcon {
  display: inline;
  padding: 5px;
  border-radius: 50%;
  border: 2px solid #6e499f;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: #6e499f;
  margin-inline-end: 10px;
}
.featureLi {
  padding-block: 10px;
}
.swiperSlide,
.card {
  height: 570px !important;
  max-height: 570px !important;
}
.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .cardImgTop {
  max-height: 250px !important;
  height: 250px !important;
  object-fit: cover !important;
}

@media (max-width: 768px) {
  .title {
    font-size: 3rem;
  }
}
@media (max-width: 400px) {
  .title {
    font-size: 2.5rem;
  }
  .description {
    font-size: 0.9rem;
  }
}